body {
    background-color: #44a384
}

h1 {
    text-align: center;
    height: 50px;
}

.bigcontainer{
    display: flex;
    margin: 0 100px;
    flex-direction: column;
}


.container {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
}

button {
    border: none;
    background-color: #2b6630;  
    padding: 4px 30px;
    text-decoration: none;
}
